
/* ===================================Header - Nav============================================== */
header {
	max-width: 100%;
	height: auto;
  }
  .header-div {
	height: fit-content;
	background-color:#00aeef;
	margin-bottom: 10px;
  }
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.logo-nav {
	width: 60px;
	height: 60px;
	cursor: pointer;
  }
  
  .icon-nav {
	height: 20px;
	width: 20px;
	margin-right: 5px;
  }
  

  
  .menu-nav {
	display: flex;
	justify-content: flex-end;
  }
  
  .signOff {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -20px;
  }
  
  .signOff p {
	font-size: 15px;
	color: #968c83;
  }
  
  li {
	list-style: none;
	float: right;
	padding: 10px;
  }

/* INFORMATION GENERAL PROFILE*/
.control-principal {

	margin: 5px;
    width: 50px;
}
.control-principal a span {
    display: inline-block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
}
.control-principal .close {
    background-image: url("./image/close-menu.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}
.control-principal .open {
	background-image: url("./image/user/3.png");
	background-size: 50px;
	background-repeat: no-repeat;
    background-position: center center;
	border: 2px solid white;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50%;
    display: block;
}
.sidebarleft{
    clear: both;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s; /*El menú cambia su altura y su color de fondo mediante una transición suavizada al voover a su estado unicial*/
	width: 50%;
	background-color: #FFFFFF;
	position: absolute;
	top:60px;
	left:0;
	border: 1px solid #B7B7B7;
	border-radius: 4px;
}
#profile-principal:target .sidebarleft{
    background: #f0f0f0 none repeat scroll 0 0;
    height: 26em;
    transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s; /*El menú cambia su altura y su color de fondo mediante una transición suavizada al abrirse*/
}
.close {
	display:none;
}
#profile-principal:target .open {
    display: none;
}
#profile-principal:target .close {
        display: block;
}
.sidebarleft img
{
	width: 150px;
	height: 150px;
	padding: 25px;
	border-radius: 50%;
}
.sidebarleft #sidename
{
	text-align: center;
	position: relative;
	top: -25px;
	margin: 0px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}
.sidebarleft p
{
	text-align: center;
	margin: 0px;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	color: #525252;
}
#ssn
{
	position: relative;
	top: -8px;
}
#location
{
	margin-bottom: 13px;
}
#viewall
{
	display: block;
	margin: 0 auto;
	font-size: 13px;
	border-radius: 5px;
	border: 0px;
	outline: 0px;
	background-color: #00aeef;
	color: white;
	text-decoration: none;
	width: 55px;
	text-align: center;
	padding: 2px;
	margin-bottom: 15px;
}
#viewall:hover
{
	background-color: #4F82C3;
}
.sidebarleft hr
{
	width: 80%;
	border: 0.8px solid #B7B7B7;
	margin-bottom: 15px;
}
#totalcomunity
{
	color: #E91E63;
	font-size: 24px;
	font-weight: bold;
}
#comunityname a
{
	color: black;
}
#comunityname a:hover
{
	color: #E91E63;
}
#logout
{
	color: #009688;
	margin: 2px;
	margin-top: 18px;
	text-align: center;
	background-color: #009688;
}
#logout a
{
	display: block;
	color: white;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	padding: 4px;
}
#logout a:hover
{
	color: black;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
  }
  
  /* width */
  ::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
  
  body,
  html {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
	min-height: 100vh;
	margin: 0px;
	overflow-x: hidden;
	line-height: 0.2;
  }
  /* =============================Container=================================================== */
  
  main {
	display: flex;
	flex-direction: column;
  }
  
  .container-1 {
	width: 100%;
	min-height: 95vh;
	margin-top: 0px;
  }
  
  .acount {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 95vh;
  }
  
  /* ===============================================Publication================================================== */
  
  div.information-user {
	display: flex;
	align-items: center;
  }
  
  img.userimg {
	width: 50px;
	height: 50px;
  }
  
  .post {
	display: flex;
	width: 95%;
	height: 310px;
	padding: 5px;
	margin: auto;
  }
  
  .addPublication {
	background-color: #ffffff;
	border-color: 1px solid #b7b7b7;
	border-radius: 4px;
	box-shadow: 4px 1.5px 5px #999999;
	height: 95px;
	padding: 10px;
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
  }
  
  .container-addpost {
	display: flex;
	padding: 10px;
  }
  
  .text-publication {
	width: 90%;
	height: auto;
	outline: none;
	color: #968c83;
  }
  
  .textaddpost {
	color: black;
	cursor: pointer;
	font-size: 15px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight: bolder;
  }
  
  .getemail {
	font-size: 18px;
	padding: 5px;
	font-weight: bolder;
	margin-top: -10px;
  }
  
  .icon-plus {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	cursor: pointer;
  }
  
  /*===============================================================post-form==============================*/
  
  .form-Background {
	background-color: #ffffff;
	border-color: 1px solid #b7b7b7;
	border-radius: 4px;
	box-shadow: 4px 1.5px 5px #999999;
	padding: 20px;
	margin: 10px 25px;
	height: 50%;
  }
  
  .btnPost {
	  background-color: #74c3fc;
	color: white;
	box-shadow: 8px 8px 8px 0px rgba(50, 50, 50, 0.42);
	width: 90%;
	margin: auto;
	margin-top: 20px;
  }
  
  textarea {
	height: 80px;
  }
  
  .inputpost {
	border: 2px solid gray;
	font-size: 12px;
	margin-bottom: 5px;
	outline: none;
	height: 70px;
	background-color: white;
	color: black;
	width: 100%;
  }
  .inputHash {
	border: 2px solid gray;
	font-size: 12px;
	margin-bottom: 5px;
	outline: none;
	height: 30px;
	background-color: white;
	color: black;
	width: 100%;
  }
  /* ============================================= rendPost ============================================== */
  
  .container-posts {
	  height: fit-content;
	  display: flex;
	  flex-direction: column;
	  width: 95%;
	  margin: auto;
	  align-items: center;
	  overflow-y: hidden;
  }
  .getdata{
	  padding-left: 55px;
	  font-size: 12px;
	  color: #999999;
	  margin-top: -15px;
	}
	
	.review-container {
	  margin: 10px;
	  width: 95%;
	  height: fit-content;
	  background-color: #ffffff;
	  border-color: 1px solid #b7b7b7;
	  border-radius: 4px;
	  box-shadow: 4px 1.5px 5px #999999;
	}
	
	.user-data {
	  display: flex;
	  background-color: #ffffff;
	  width: 100%;
	  height: auto;
	  flex-wrap: wrap;
	  justify-content: flex-start;
	  align-items: center;
	  padding: 5px;
	}
	
	.container-review {
	  width: 90%;
	  background-color: white;
	  margin: auto;
	  margin-top: 5px;
	  overflow-wrap: break-word;
	  word-wrap: break-word;
	  line-height: 15px;
	  height: fit-content;
	}
	
	.title-rating {
	  width: 100%;
	  height: 25%;
	  background-color: white;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
	  font-size: 11px;
	  padding: 5px;
	  color:#42a5f5;
	  font-weight: bold;
	}
	
	#titlePost {
	  font-size: 16px;
	  font-weight: bold;
	}
	
	.review-text {
	  width: 100%;
	  height: 75%;
	  background-color: #ffffff;
	  flex-direction: row;
	  font-size: 12px;
	  padding: 5px;
	}
	
	.texticonspost {
	  display: flex;
	  width: 100%;
	  height: auto;
	  background-color: #ffffff;
	  color: grey;
	  margin: auto;
	  justify-content: space-between;
	}
	
	.iconDIV-like {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	
	.icon-like {
	  width: 25px;
	  height: 25px;
	  margin: 5px 10px;
	  cursor: pointer;
	  font-weight: bold;
	}
	
	span {
	  margin-top: 4px;
	  margin-bottom: 4px;
	  font-size: 16px;
	}
	
	.icon-post {
	  width: 30px;
	  height: 30px;
	  margin: 5px;
	  cursor: pointer;
	}
	
  
  /*==================================0================Login SignUp===========================================================*/
  
  .form {
	display: flex;
	flex-direction: column;
  }
  
  label {
	padding: 10px;
  }
  
  input {
	border: 2px solid #d6d2c4;
	font-size: 16px;
	margin-bottom: 5px;
	outline: none;
	height: 40px;
	background-color: white;
	color: #968c83;
	width: 100%;
  }
  
  .error-message {
	border-color: white;
	height: 65px;
	margin-top: 5px;
	color: #630a10;
	overflow-wrap: break-word;
	font-size: 12px;
	width: 300px;
	line-height: 15px;
  }
  
  .error-formPost {
	width: 50px;
	color: #630a10;
	overflow-wrap: break-word;
	font-size: 8px;
	line-height: 15px;
	border-color: white;
	margin-top: 5px;
  }
  
  button {
	height: 40px;
	background-color: #74c3fc;
	color: #eeeeee;
	border-radius: 15px;
	border: solid 2px #36a5f5;
	cursor: pointer;
	margin-top: 15px;
	font-weight: 500;
	font-size: 0.8em;
	width: 312px;
  }
  
  .login-btn {
	margin: 25px;
  }
  
  .login-google {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
	margin-top: 15px;
  }
  
  .logo-google {
	width: 20px;
	height: 20px;
  }
  
  hr {
	width: 105px;
	background-color: #968c83;
	height: 2px;
	text-align: start;
	margin: 10px;
	color: #d6d2c4;
  }
  
  .division-2 {
	margin: auto;
	width: 10px;
  }
  
  .division {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  .pieform {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	gap: 5px;
  }
  
  /* ===========================================Profile==================================================================== */
  
  .home {
	display: grid;
	width: 100%;
	height: auto;
  }
  
  .log-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  .name-photo {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
  }
  
  .publication {
	height: 100px;
  }
  
  .publication p {
	line-height: 10px;
  }
  /*==================================================================home=========================================================*/
  
  h3 {
	text-align: center;
	margin-bottom: 30px;
  }
  
  .profile-content {
	margin-top: 50px;
  }
  
  .poster {
	background-color: #f3f1f5;
	border-color: lightgrey;
	height: 110px;
	padding: 10px;
	width: 90%;
	margin: auto;
	border-radius: 10px;
	font-size: 8px;
  }
  
  .text-poster {
	background-color: white;
	border-radius: 10px;
	border-style: solid;
	width: 100%;
	height: auto;
	outline: none;
	color: #968c83;
	padding: 5px;
  }
  
  /*==========================================Footer=================================================*/
  
  footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
	align-items: center;
	height: 20px;
	padding: 1em 0;
	margin-top: auto;
  }
  /*================================================================================================================*/
  






